<div class="container">
    <h1>Hungry Hungry Hamburger</h1>
   
       <h2>Add a Burger</h2>
          <form class="create-form">
                <div class="form-group">
                    <label for="bur">Burger Name:</label>
                    <input type="text"
                        id="bur"
                        name="name">
                </div>

              <button type="submit"
                    >Hungry!</button>
            </form>
        </div>
       
          <h2>Hungry for these Hamburgers</h2>
            <ul>
              {{#each burger}}
                {{#unless devoured}}
                {{> burger/burger-block devoured=true}}
                {{/unless}}
              {{/each}}
            </ul>
        </div>
        <div>
            <h2>No More Hungry Hamburgers</h2>
            <ul>
              {{#each burger}}
                {{#if devoured}}
                {{> burger/burger-block devoured=false}}
                {{/if}}
              {{/each}}
            </ul>
        </div>
    </div>
</div>

