<li>
    {{burger_names}}

    <button class="change-burger"
        data-id="{{id}}"
        data-newburger="{{devoured}}">
        {{#if devoured}}No more hungry hamburger!{{else}}Still hungry!!{{/if}}
    </button>

</li>